<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home - BERTwatch</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="min-h-screen flex flex-col">

    <nav class="bg-[#2c9a8e] text-white px-8 py-4 flex justify-between items-center">
      <div class="text-lg font-bold">BERTwatch</div>
      <ul class="flex gap-8 text-white text-lg">
        <li><a href="index.html" class="font-bold">Home</a></li>
        <li><a href="classifier.html">Classifier</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </nav>

    <main class="flex flex-col justify-center items-center text-center flex-grow px-4 py-16 bg-gradient-to-br from-white to-[#eaf7f5]">
      <h1 class="text-5xl md:text-7xl font-bold text-[#2c9a8e] mb-2">BERTwatch</h1>
      <h2 class="text-3xl text-[#a3414f] mb-6">Trigger Warning Classifier</h2>
      <br>
      <p class="text-lg md:text-xl text-gray-700 mb-8">Empowering safer digital
      <br>experiences, one post at a time</p>

      <br>
      <a href="classifier.html" class="bg-[#2c9a8e] text-white px-6 py-2 rounded hover:bg-[#247d76] transition-all duration-300">
        CLASSIFIER
      </a>
    </main>

    <footer class="bg-[#2c9a8e] text-white text-center text-sm py-4 mt-auto">
      © 2025 Arenas, Nones, and Tabiolo
    </footer>

  </body>
</html>
